# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
.jj/*
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
.open-next/*
/dist
/dist-static
/public/assets/blog

# misc

# os specific
Thumbs.db
Desktop.ini
.DS_Store

# logs
logs
*.log

# editor
.vscode
.idea
*.swp
*.swo

# env files (can opt-in for committing if needed)
.env*
.dev*

# cf
.wrangler/*
worker
!src/worker/
!src/worker/**
.vinext/*

# typescript
*.tsbuildinfo
.tsbuild/*
next-env.d.ts
.claude/settings.local.json
.lighthouseci
